<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DoRegisterServlet</servlet-name>
        <servlet-class>controller.DoRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoLogInServlet</servlet-name>
        <servlet-class>controller.DoLogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoLogOutServlet</servlet-name>
        <servlet-class>controller.DoLogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoChangePasswordServlet</servlet-name>
        <servlet-class>controller.DoChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoChangeInfoServlet</servlet-name>
        <servlet-class>controller.DoChangeInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KhachHangServlet</servlet-name>
        <servlet-class>controller.KhachHangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpFileServlet</servlet-name>
        <servlet-class>controller.UpFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoRegisterServlet</servlet-name>
        <url-pattern>/do-register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoLogInServlet</servlet-name>
        <url-pattern>/do-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoLogOutServlet</servlet-name>
        <url-pattern>/do-logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoChangePasswordServlet</servlet-name>
        <url-pattern>/do-changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoChangeInfoServlet</servlet-name>
        <url-pattern>/do-changeinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KhachHangServlet</servlet-name>
        <url-pattern>/khach-hang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dasboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpFileServlet</servlet-name>
        <url-pattern>/upload-file</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error/error404.html</location>
    </error-page>
    <!--    <error-page>
        <error-code>500</error-code>
        <location></location>
    </error-page>-->
</web-app>
